.office__box {
    padding-top: 122px;
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.office__window {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
}
.office__input {
    padding: 10px;
}
.office__skip-buttons {
    display: flex;
    justify-content: space-between;
}
.office__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.office__label {
    display: flex;
    flex-direction: column;
}
.office__sex {
    display: inline-block;
    margin-left: 5px;
}